# Data and Sampling Distributions

In the era of big data, sampling is very useful to understand the population with performance and velocity.

## Random sampling and sample bias

A sample is a subset of the data set (population). An example of a sampling methodology is random sampling, in which each value in the population has the same probability of being selected, and can be done with or without replacement. <br>
Note: Data quality is more important than sample size in reducing bias.

## Imports

In [4]:
import pandas as pd
import warnings

In [5]:
warnings.filterwarnings('ignore')

### Random sampling example with Loan Data

In [6]:
df = pd.read_csv('../../datasets/loan_data_2007_2014.csv')
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [9]:
#Using random_state to reproducibility
sample_df = df.sample(n=384, random_state=42)
sample_df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
362514,362514,19677589,21900299,32500,32500,32500.0,60 months,14.99,773.01,C,...,NaN,NaN,NaN,NaN,NaN,NaN,25100.0,NaN,NaN,NaN
288564,288564,29755527,32278795,11000,11000,11000.0,60 months,20.99,297.53,E,...,NaN,NaN,NaN,NaN,NaN,NaN,24000.0,NaN,NaN,NaN
213591,213591,1343334,1588314,30000,30000,30000.0,36 months,14.65,1034.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263083,263083,33131681,35775007,14400,14400,14400.0,60 months,14.49,338.74,C,...,NaN,NaN,NaN,NaN,NaN,NaN,17400.0,NaN,NaN,NaN
165001,165001,3293168,4066358,15000,15000,14900.0,36 months,8.90,476.30,A,...,NaN,NaN,NaN,NaN,NaN,NaN,8700.0,NaN,NaN,NaN

In [10]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 362514 to 365592
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   384 non-null    int64
 1   id                           384 non-null    int64
 2   member_id                    384 non-null    int64
 3   loan_amnt                    384 non-null    int64
 4   funded_amnt                  384 non-null    int64
 5   funded_amnt_inv              384 non-null    float64
 6   term                         384 non-null    object
 7   int_rate                     384 non-null    float64
 8   installment                  384 non-null    float64
 9   grade                        384 non-null    object
 10  sub_grade                    384 non-null    object
 11  emp_title                    360 non-null    object
 12  emp_length                   365 non-null    object
 13  home_ownership               384 non-null    object
 14  annual_inc                   384 non-null    float64
 15  verification_status          384 non-null    object
 16  issue_d                      384 non-null    object
 17  loan_status                  384 non-null    object
 18  pymnt_plan                   384 non-null    object
 19  url                          384 non-null    object
 20  desc                         106 non-null    object
 21  purpose                      384 non-null    object
 22  title                        384 non-null    object
 23  zip_code                     384 non-null    object
 24  addr_state                   384 non-null    object
 25  dti                          384 non-null    float64
 26  delinq_2yrs                  384 non-null    float64
 27  earliest_cr_line             384 non-null    object
 28  inq_last_6mths               384 non-null    float64
 29  mths_since_last_delinq       179 non-null    float64
 30  mths_since_last_record       52 non-null     float64
 31  open_acc                     384 non-null    float64
 32  pub_rec                      384 non-null    float64
 33  revol_bal                    384 non-null    int64
 34  revol_util                   383 non-null    float64
 35  total_acc                    384 non-null    float64
 36  initial_list_status          384 non-null    object
 37  out_prncp                    384 non-null    float64
 38  out_prncp_inv                384 non-null    float64
 39  total_pymnt                  384 non-null    float64
 40  total_pymnt_inv              384 non-null    float64
 41  total_rec_prncp              384 non-null    float64
 42  total_rec_int                384 non-null    float64
 43  total_rec_late_fee           384 non-null    float64
 44  recoveries                   384 non-null    float64
 45  collection_recovery_fee      384 non-null    float64
 46  last_pymnt_d                 384 non-null    object
 47  last_pymnt_amnt              384 non-null    float64
 48  next_pymnt_d                 197 non-null    object
 49  last_credit_pull_d           384 non-null    object
 50  collections_12_mths_ex_med   384 non-null    float64
 51  mths_since_last_major_derog  78 non-null     float64
 52  policy_code                  384 non-null    int64
 53  application_type             384 non-null    object
 54  annual_inc_joint             0 non-null      float64
 55  dti_joint                    0 non-null      float64
 56  verification_status_joint    0 non-null      float64
 57  acc_now_delinq               384 non-null    float64
 58  tot_coll_amt                 323 non-null    float64
 59  tot_cur_bal                  323 non-null    float64
 60  open_acc_6m                  0 non-null      float64
 61  open_il_6m                   0 non-null      float64
 62  open_il_12m                  0 non-null      float64
 63  open_il_24m                  0 non-null      float64
 64  mths_since_rcnt_il           0 non-null      float64
 65  total_bal_il                 0 non-null      float64
 66  il_util                      0 non-null      float64
 67  open_rv_12m                  0 non-null      float64
 68  open_rv_24m                  0 non-null      float64
 69  max_bal_bc                   0 non-null      float64
 70  all_util                     0 non-null      float64
 71  total_rev_hi_lim             323 non-null    float64
 72  inq_fi                       0 non-null      float64
 73  total_cu_tl                  0 non-null      float64
 74  inq_last_12m                 0 non-null      float64
dtypes: float64(46), int64(7), object(22)
memory usage: 228.0+ KB

## Bias

...