# Data and Sampling Distributions

In the era of big data, sampling is very useful to understand the population with performance and velocity.

## Random sampling and sample bias

A sample is a subset of the data set (population). An example of a sampling methodology is random sampling, in which each value in the population has the same probability of being selected, and can be done with or without replacement. <br>
Note: Data quality is more important than sample size in reducing bias.

## Imports

In [1]:
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

### Random sampling example with Loan Data

In [3]:
df = pd.read_csv('../../datasets/loan_data_2007_2014.csv')
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(466285, 75)

In [5]:
#Using random_state to reproducibility
sample_df = df.sample(n=384, random_state=42)
sample_df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
362514,362514,19677589,21900299,32500,32500,32500.0,60 months,14.99,773.01,C,...,NaN,NaN,NaN,NaN,NaN,NaN,25100.0,NaN,NaN,NaN
288564,288564,29755527,32278795,11000,11000,11000.0,60 months,20.99,297.53,E,...,NaN,NaN,NaN,NaN,NaN,NaN,24000.0,NaN,NaN,NaN
213591,213591,1343334,1588314,30000,30000,30000.0,36 months,14.65,1034.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263083,263083,33131681,35775007,14400,14400,14400.0,60 months,14.49,338.74,C,...,NaN,NaN,NaN,NaN,NaN,NaN,17400.0,NaN,NaN,NaN
165001,165001,3293168,4066358,15000,15000,14900.0,36 months,8.90,476.30,A,...,NaN,NaN,NaN,NaN,NaN,NaN,8700.0,NaN,NaN,NaN

In [6]:
sample_df.shape

(384, 75)

## Bias

Bias is an error in sampling or measurement caused by a systematic - not random - error in the sampling process.<br>
To avoid bias in the sampling process, random sampling (with/without replacement/strata) is a useful method. <br>
_NOTE 1: In the era of big data, sampling is very useful, but it is also necessary to analyze whether it is necessary to use all the data._<br>
_NOTE 2: The sample mean is represented by x-bar and the population mean by u._